.navBar{
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.nav-link{
    color: black;
}

a:hover{
    background-color: rgb(209, 250, 236);
    color: black;
}
.tms{
    display: flex;
    justify-content: center;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont1{
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/263/636/non_2x/contact-us-concept-icons-such-as-mobile-phone-e-mail-address-chat-global-communication-on-dark-blue-background-for-presentation-web-banner-article-business-and-network-connection-and-company-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont2{
    background-color: rgb(240, 248, 255, 0.97);
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}