.navBar{
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.nav-link{
    color: black;
}

a:hover{
    background-color: rgb(209, 250, 236);
    color: black;
}
.tms{
    display: flex;
    justify-content: center;
}

.cont1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://png.pngtree.com/background/20231101/original/pngtree-d-illustration-air-conditioners-ventilators-and-pipes-atop-a-building-s-picture-image_5824899.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont2{
    background-color: rgb(240, 248, 255, 0.9);
    height: 70%;
}

.textBox{
    margin: 30px;
}

