.navBar{
    background-color: aquamarine;
    height: 50px;
}

.nav-link{
    color: black;
}

a:hover{
    background-color: rgb(209, 250, 236);
    color: black;
}
.tms{
    display: flex;
    justify-content: center;
}

