.navBar {
    height: 50px;
}

.nav-link {
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-brand:hover{
    text-decoration: none;
}

.cont1 {
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/263/636/non_2x/contact-us-concept-icons-such-as-mobile-phone-e-mail-address-chat-global-communication-on-dark-blue-background-for-presentation-web-banner-article-business-and-network-connection-and-company-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cont2 {
    background-color: rgba(240, 248, 255, 0.75);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont3 {
    padding: 20px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #003366;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navBar {
        height: auto;
    }

    .cont1 {
        padding: 20px;
    }

    .cont2 {
        width: 100%;
        padding: 10px;
    }

    .cont3 {
        padding: 10px;
    }
}

@media (min-width: 769px) {
    .cont2 {
        width: 70%;
    }
}
